@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* ----------------------------------------Logo*/
.brand-logo h1{
    text-transform: uppercase;
    letter-spacing:4px;
    color:#fa3802;
    font-family: Roboto;
    font-weight: 300;

    

}

.brand-logo{
             margin-left: 5px;
             padding: none;
             

}


/* ----------------------------------------Nav-Bar */

.collapse navbar-collapse{
            display: block;
            width:20%;
}

.navbar-nav li a{
    text-align: left;
    padding-right: 10px;
    margin-right: 10px;
}
.navbar-nav li a:hover {
            background-color: #fa3802;
}

/* ----------------------------------------NavBar button */

.button-icon{
    border: none;
    margin: 0;
    padding: 0;

}

.button-icon span{
    background-color: #fff;
            color: #000;
            border: none;
            padding: none;
            margin: none;
            height: 55px;
            width: 55px;
            
            
}

.button-icon span:hover{
    background-color: #fa3802;
            color: #fff;
}

.navbar-toggler{
    padding:0;
    border: none;
    margin: 0;
}


/* ----------------------------------------Hero Image */



@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#container-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}


#container img {
height: 600px;
width: 100%;
position: relative;
overflow: hidden;
animation-name: hero-zoom;
animation-duration: 3s;
animation-fill-mode: forwards;

}



/* Bottom right text */
.text-block {
    font-family: "Exo",sans-serif;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
        top: 25px;
    left:40px;
    background-color:rgba(0, 0, 0,.4);
    color: #fa3802;
    padding-left: 10px;
    padding-right: 10px;
    
}
.text-block h6{
    text-align: center;
}

.right{
    text-align: right;
}

.text-block hr{
    border: 1px solid #fa3802;
    width: 50%;
}

.text-block p{
    font-size: 13px;
    text-align: center;
}


/* ----------------------------------------Images */

#img1{
clear: both;
line-height:0; 
column-gap: 0px;
}

#img1 img{
width: 100%;
height: 100%;
}

/* ----------------------------------------Contact Form */

#form-img{
     
  background: url('../images/laying.jpg')center;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  line-height:0; 
  column-gap: 0px;
  height: 600px;
  width: 100%;
}

#form-header{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    text-align: center;
    color: #fa3802;
    text-transform: uppercase;
}

#packages{
    text-transform: uppercase;
    font-family: "Exo",sans-serif;
    font-weight: 300;
}

.center-form {
padding-top: 10px;
margin: 0 auto;
width: 70%;
color: #fa3802;
background-color: rgba(0, 0, 0,.6);
height: 460px;
padding: 15px,0,0,10px;
top: 10px;
left: 1.5%;
position: relative;
 font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;


    
}
form{
    border: none;
    padding-left:40px;
    padding-right: 20px; 
}

#bronze #silver #gold{
    font-size: 15px;
    text-align: left;
}

#fname{
    width: 65%;
    padding-left: 3px;
    background-color: transparent;
    color: #fa3802;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
    
}

#lname{
    width: 65%;
    padding-left: 3px;
    background-color: transparent;
    color: #fa3802;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
}

#hname{
    width: 65%;
    padding-left: 3px;
    background-color: transparent;
    color: #fa3802;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
}

#pcode{
    width: 35%;
     padding-left: 3px;
    background-color: transparent;
    color: #fa3802;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
}

#emailaddress{
     width: 65%;
    padding-left: 3px;
    background-color: transparent;
    color: #fa3802;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
}

#further{
    width: 85%;
    padding-left: 3px;
    background-color: transparent;
    color: #fa3802;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
}

#bsubmit{
    background-color: transparent;
    color: #fa3802;
    margin: 5px 0 20px 0;
    border: 1px solid #fa3802;
    border-radius: 2px;
    font-size: 15px;
}





/* ----------------------------------------Footer */
footer{
    background-color: #000;
    color: #fff;
    min-height: 120px;
}

#footer-details {
padding: 20px;
}

.uppercase{
    text-transform: uppercase;
}

/* ----------------------------------------calendar download */

.calendar-pdf i {
font-size: 18px;
color: #fafafa;
text-align: center;
padding-left: 5px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.calendar-pdf i:hover {
color: #fa3802;
}

/* ----------------------------------------social media links */

.social-links li a i {
width: 35px;
height: 35px;
padding: 12px 0;
border-radius: 50%;
font-size: 18px;
line-height: 7px;
text-align: center;
color: #fff;
background: #aaa9a9;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
background: #fa3802;
width: 35px;
height: 35px;
border-radius: 50%;
}



